<topology xmlns="urn:TBD:params:xml:ns:yang:network-topology">
    <topology-id>{{bgp_instance}}</topology-id>
    <topology-types>
        <bgp-linkstate-topology xmlns="urn:opendaylight:params:xml:ns:yang:odl-bgp-topology-types"></bgp-linkstate-topology>
    </topology-types>
    <rib-id xmlns="urn:opendaylight:params:xml:ns:yang:odl-bgp-topology-config">{{bgp_instance}}</rib-id>
</topology>
